<template>
  <div class="container">
    http://127.0.0.1:8000/
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Example Component</div>

          <div class="card-body">frgzrg</div>

          <div>
            <base-button size="sm" type="primary">Primary</base-button>
            <base-button size="sm" type="secondary">Secondary</base-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log("Component mounted.");
  }
};
</script>
